<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <style type="text/css">
        html, body { height: 100%; margin: 0; padding: 0 }
        #map { height: 100% }

        .black_overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 80%;
            heigh: 80%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=88);
        }

        .white_content {
            display: none;
            position: absolute;
            top: 25%;
            left: 25%;
            width: 60%;
            height: 60%;
            padding: 20px;
            border: 10px solid orange;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }
    </style>

</head>
<body>
    <div id="map"></div>
    <div id="light" class="white_content">
        <form id="analyze_form" method="post">
            {% csrf_token %}
            <label>Week</label>
            <input name="week" id="week">
            <label>Day</label>
            <input name="day" id="day">
            <button type="button" onclick="startAnalyze()">Submit</button>
            <button type="button" onclick="closeDialog()">Close</button>
            <img hidden="hidden" id="image">
        </form>
    </div>
    <div id="fade" class="black_overlay"></div>
    {% csrf_token %}
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script type="text/javascript">
        var csrftoken = jQuery("[name=csrfmiddlewaretoken").val();
        var map;
        var addDeparture = false;
        var addDestination = false;
        var departureMarker;
        var destinationMarker;
        var polylines = Array();

        /**
         *  Functions for showing dialog
         */
        function openDialog(){
            document.getElementById('light').style.display='block';
            document.getElementById('fade').style.display='block'
        }
        function closeDialog(){
            document.getElementById('light').style.display='none';
            document.getElementById('fade').style.display='none'
        }

        /**
         * 添加自定义的控件，该控件的主要作用是允许用户添加起始地点
         */
        function addButtons(controlDiv, map) {
            // 为控件的边界设置CSS样式
            var controlUI = document.createElement('div');
            controlUI.style.backgroundColor = '#fff';
            controlUI.style.border = '2px solid #fff';
            controlUI.style.borderRadius = '3px';
            controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
            controlUI.style.cursor = 'pointer';
            controlUI.style.marginBottom = '22px';
            controlUI.style.textAlign = 'center';
            controlUI.title = 'Click this button then choose departure point';
            controlDiv.appendChild(controlUI);

            // 设置控件的内部样式
            var depatureText = document.createElement('div');
            depatureText.style.color = 'rgb(25,25,25)';
            depatureText.style.FontFamily = "Roboto, Arial, sans-serif";
            depatureText.style.fontSize = '16px';
            depatureText.style.lineHeight = '38px';
            depatureText.style.paddingLeft = '5px';
            depatureText.style.paddingRight = '5px';
            depatureText.style.borderBottom = '1px solid #000';
            depatureText.innerHTML = 'Departure';
            controlUI.appendChild(depatureText);

            var destinationText = document.createElement('div');
            destinationText.style.color = 'rgb(25,25,25)';
            destinationText.style.fontFamily = 'Roboto, Arial, sans-serif';
            destinationText.style.fontSize = '16px';
            destinationText.style.lineHeight = '38px';
            destinationText.style.paddingLeft = '5px';
            destinationText.style.paddingRight = '5px';
            destinationText.style.borderBottom = '1px solid #000';
            destinationText.innerHTML = 'Destination';
            controlUI.appendChild(destinationText);

            var navigation = document.createElement('div');
            navigation.style.color = 'rgb(25,25,25)';
            navigation.style.FontFamily = 'Roboto, Arial, sans-serif';
            navigation.style.fontSize = '16px';
            navigation.style.lineHeight = '38px';
            navigation.style.paddingLeft = '5px';
            navigation.style.paddingRight = '5px';
            navigation.innerHTML = 'Navigate';
            controlUI.appendChild(navigation);

            // 为该按钮设置点击事件
            depatureText.addEventListener('click', function() {
                addDeparture = true;
                if (departureMarker != undefined) {
                    departureMarker.setMap(null);
                }
            });

            destinationText.addEventListener('click', function () {
               addDestination = true;
               if (destinationMarker != undefined) {
                   destinationMarker.setMap(null);
               }
            });

            navigation.addEventListener('click', function() {
                navigate();
            });
        }

        function centerTopControl(controlDiv, map) {
            // Set CSS for the control border
            var controlUI = document.createElement('div');
            controlUI.style.backgroundColor = '#fff';
            controlUI.style.border = '2px solid #fff';
            controlUI.style.borderRadius = '3px';
            controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,0.3)';
            controlUI.style.cursor = 'pointer';
            controlUI.style.marginBottom = '22px';
            controlUI.style.textAlign = 'center';
            controlUI.title = 'Click this button, then choose one street to start analyze';
            controlDiv.appendChild(controlUI);

            // set CSS for the control interior
            var controlText = document.createElement('div');
            controlText.style.color = 'rgb(25,25,25)';
            controlText.style.fontFamily = 'Robot, Arial, sans-serif';
            controlText.style.fontSize = '16px';
            controlText.style.lineHeight = '38px';
            controlText.paddingLeft = '5px';
            controlText.paddingRight = '5px';
            controlText.innerHTML = 'Analyze';
            controlUI.appendChild(controlText);

            // Setup the click event listeners
            controlUI.addEventListener('click', function() {
                openDialog();
            });
        }

        function startAnalyze() {
          var form = $('analyze_form');
          form.submit(function (e) {
              e.preventDefault(e);
          });
          // console.log('week');
          // console.log();
          var data = {}
          if ($('#week').val()) {
              data['week'] = $('#week').val();
              data['type'] = 'week';
          } else if ($('#day').val()) {
              data['day'] = $('#day').val();
              data['type'] = 'day';
          }
          console.log(data);
          $.ajax({
              url: '/image',
              type: 'post',
              data: data,
              error: function(e) {
                  console.log(e);
              },
              success: function(data) {
                  var image = $('#image');
                  image.url = data['url'];
                  image.hidden = false;
              }
           });
        }


        function initMap() {
           map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 41.8781136, lng: -87.6297982},
                zoom: 12
            });

            var speedCoordinate = [
                {lat: 41.939979, lng: -87.649077},
                {lat: 41.947316, lng: -87.649296}
            ];

            var speedPath = new google.maps.Polyline({
                path: speedCoordinate,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            speedPath.setMap(map);

            // 初始化自定义控件
            var rightControlDiv = document.createElement('div');
            var rightControl = new addButtons(rightControlDiv, map);

            var centerControlDiv = document.createElement('div');
            var centerControl = new centerTopControl(centerControlDiv, map);

            centerControlDiv.index = 1;
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);

            rightControlDiv.index = 1;
            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(rightControlDiv);

            // Add top controller


            // 为地图添加点击事件
            map.addListener('click', function(event) {
               if (addDeparture) {
                   placeDeparture(event.latLng);
                   console.log(event.latLng);
                   addDeparture = false;
               } else if (addDestination) {
                   placeDestination(event.latLng);
                   console.log(event.latLng);
                   addDestination = false;
               }
            });

            // Request edges from the server and then change their color
            $.getJSON('/edges', function (json) {
                $.each(json, function (i, n) {
                    var polyline = [
                        {lat: parseFloat(n['from_vertice'][1]), lng: parseFloat(n['from_vertice'][0])},
                        {lat: parseFloat(n['to_vertice'][1]), lng: parseFloat(n['to_vertice'][0])}
                    ];
                    var polypath = new google.maps.Polyline({
                        path: polyline,
                        geodesic: true,
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    });
                    if (parseFloat(n['speed']) < 0.4) {
                        polypath.setValues({
                           strokeColor: '#FF0000'
                        });
                    } else if (parseFloat(n['speed']) < 0.8) {
                        polypath.setValues({
                           strokeColor:  '#FFFF00'
                        });
                    } else {
                        polypath.setValues({
                           strokeColor:  '#00FF00',
                        });
                    }
                    polypath.edgeid = n['id'];
                    polypath.addListener('click', function () {
                        alert(this.edgeid);
                    });
                    polypath.setMap(map);
                    polypath.points = polyline;
                    polylines.push(polypath);
                });
            });

        }

        function placeDeparture(location) {
            console.log(location)
            departureMarker = new google.maps.Marker({
                position: location,
                map: map
            });

            map.setCenter(location);
        }

        function placeDestination(location) {
            destinationMarker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
        
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }



        function navigate() {
            var post_data = {
                "depart_lat": departureMarker.getPosition().lat(),
                "depart_lng": departureMarker.getPosition().lng(),
                "dest_lat": destinationMarker.getPosition().lat(),
                "dest_lng": destinationMarker.getPosition().lng()
            };
            console.log("depart: " + departureMarker.getPosition().lat() + ", " + departureMarker.getPosition().lng());
            console.log("dest: " + destinationMarker.getPosition().lat() + ", " + destinationMarker.getPosition().lng());

            $.post('/navigate', post_data, function(data) {
                var data = JSON.parse(data);
                var path = data['path'];
                console.log(path)
                var blackline = [];
                $.each(path, function (index, value) {
                    console.log(value);
                    polylines[value].setValues({strokeColor:  '#000000'});
                    // var blackline = [
                    //     {lat: parseFloat(value[0][1]), lng: parseFloat(value[0][0])},
                    //     {lat: parseFloat(value[1][1]), lng: parseFloat(value[1][0])}
                    // ]
                    // var blackpath = new google.maps.Polyline({
                    //     path: blackline,
                    //     geodesic: true,
                    //     strokeColor: '#000000',
                    //     strokeOpacity: 1.0,
                    //     strokeWeight: 2
                    // });
                    // blackpath.setMap(map);
                });
            });

        }

        function changeColorOfPath(from_point, to_point) {
            $.each(polylines, function (i, n) {
               var points = n.points;
               if (parseFloat(points[0]['lat']) == parseFloat(from_point[1]) && parseFloat(points[0]['lng']) == parseFloat(from_point[0])
                && parseFloat(points[1]['lat']) == parseFloat(to_point[1]) && parseFloat(points[1]['lat']) == parseFloat(to_point[0])) {
                   n.setValues({ strokeColor:  '#000000'});
               }
            });
        }


        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?libraries=drawing&key=AIzaSyBb4tCAgP_7ZyHjOrNHstGVdclA0NU7Tnc&callback=initMap">

    </script>
</body>
</html>